@{
    var HelloWorldComponent = DependencyResolver.Current.GetService<Chloe.Components.Contracts.IHelloWorld>().Invoke();
}

<div>
    <h1>@HelloWorldComponent.Message ??</h1>
</div>


@Html.Partial(HelloWorldComponent.PartialViewLocation)